*.class
*.ctxt
*.ear
*.iml
*.jar
*.log
*.MF
*.nar
*.png
*.rar
*.tar.gz
*.war
*.zip
.mtj.tmp/
/Codici/EsamiPratici/.idea/
/Codici/EsamiPratici/build/
/Codici/EsamiPratici/dist/
/Codici/EsamiPratici/nbproject/private/
/Codici/EsamiPratici/out/
/Codici/Lezioni/.idea/
/Codici/Oracle JavaFX Tutorials/nbproject/private/
Appunti.java
Codici/EsamiTeorici/
Esami/
hs_err_pid*
Libri PDF/
Materiale/
Slide (Laboratorio)/
Slide (Lezione)/
